* {
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 10vh;
    font-size: 1.5em;
}

.cellSprite {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.cellCont {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 1em;
}

#backLink {
    color: rgb(33, 18, 172);
    text-decoration: none;
    font-size: 1.75em;
}

#money {
    margin-top: 3vh;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(33, 18, 172);
    font-size: 1.75em;
}

#cornerCont {
    position: fixed;
    top: 0vh;
    left: 0vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    border-width: 3px;
    border-style: solid;
    opacity: 0.88;
}

#winningNumb {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin-top: 0.5em;
    font-size: 2em;
}

#winningText {
    margin-top: 1em;
    font-size: 1.5em;
    text-align: center;
}

#yourNumb {
    margin-top: 2.5em;
    font-size: 1.5em;
    text-align: center;
}

#playboard {
    height: 110%;
    width: 80%;
    margin-top: 0.5em;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.85em;
    line-height: 2.5em;
}

#numbersUnd {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1em;
    border: rgb(240, 32, 32) solid 10px;
    border-radius: 30px;
}

#titleCard {
    font-size: 2.3em;
    color: white;
    padding: 0.5em;
    background-image: url("../../resources/royal/spiral.webp");
    background-size: 100%;
    background-position: center;
    border-radius: 30px 30px 0px 0px;
    border: rgb(122, 99, 99) solid 3.5px;
}

.scratchOver {
    position: absolute;
    height: 12%;
    width: 10%;
    background-position: 12px -20px;
    background-size: 88%;
    border-radius: 10px;
    z-index: 99;
}

.cellSprite {
    height: 50%;
    width: 50%;
    object-fit: cover;
}

.scratchOver:hover {
    cursor: pointer;
}