body {
    background-image: url("../../resources/golden/p4background.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    text-align: center;
}

.goldenTicket {
    background-color: rgb(148, 25, 0);
    color: 	rgb(127,230,239);
    border: solid 5px rgb(250,166,34);
}

.goldenTitle {
    color: 	rgb(56, 171, 182);
    background-image: url("../../resources/golden/goldenTitle.png");
    border: rgb(122, 99, 99) solid 3.5px;
}

.scratchOver {
    background-image: url("../../resources/golden/goldenCover.jpg");
    position: absolute;
    height: 12%;
    width: 10%;
    background-position: 12px;
    background-size: 88%;
    border-radius: 10px;
    z-index: 99;
}