body {
    background-image: url("../../resources/golden/p4background.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    text-align: center;
}

.goldenTicket {
    background-color: rgb(148, 25, 0);
    color: 	rgb(127,230,239);
    border: solid 5px rgb(250,166,34);
}

.goldenCover {
    background-image: url("../../resources/golden/p4background.jpg");
}