body {
    background-image: url("../../resources/royal/royalBack.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    text-align: center;
}

.royalTicket {
    color: white;
    background-color: black;
    border-image: linear-gradient(to bottom right, rgb(122, 99, 99) 33%, rgb(240, 32, 32) 66%, white 100%) 1;
}

.scratchOver:hover {
    cursor: pointer;
}

.royalTitle {
    color: white;
    background-image: url("../../resources/royal/spiral.webp");
    border: rgb(122, 99, 99) solid 3.5px;
}

.scratchOver {
    background-image: url("../../resources/royal/scratchCover.jpg");
    position: absolute;
    height: 12%;
    width: 10%;
    background-position: 12px -20px;
    background-size: 88%;
    border-radius: 10px;
    z-index: 99;
}